{% extends 'base/list.html' %}
{% block head_table %}
  <th>Id</th>
  <th>Pais</th>
  <th>Ativo</th>
  <th>Criado</th>
  <th>Modificado</th>
  <th class="all">Ações</th>
  {% endblock head_table %}

  {% block body_table %}
    {% for item in obj %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.pais}}</td>
            <td>{{item.ativo|yesno:"Ativo,Inativo"}}</td>
            <td>{{item.data_criou|date:"d/m/Y H:i:s"}}</td>
            <td>{{item.data_editou|date:"d/m/Y H:i:s"}}</td>
            <td>
                <div class="btn-group">
                  {% comment %} <a href="{% url 'bases:pais_edit' item.id %}" class="btn btn-warning btn-circle" role="button"><i class="far fa-edit"></i></a> {% endcomment %}
                  <a class="btn btn-success btn-circle" onclick="return abrir_modal('{% url 'bases:pais_edit' item.id %}')" href="#"><i class="far fa-edit"></i></a>
                  <a href="#" class="btn btn-danger btn-circle" role="button"><i class="far fa-trash-alt"></i></a>
                </div>
            </td>
        </tr>
    {% endfor %}
  {% endblock body_table %}



  

  